body {
	font-family: Roboto;
	background-color: rgb(91, 90, 88);
}


.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
}

.button {
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	background: #f2726f;
	border-radius: 8px;
	min-height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 34px;

}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}



.page {
	flex: 1 1 auto;
}


.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;
}

.top-header__info {
	padding: 28px 0;
	display: flex;
	align-items: center;
}

@media (max-width: 838px) {
	.top-header__info {
		flex-direction: column;
		align-items: center;
		padding: 20px 0px;
	}

	.top-header__logo {
		padding-bottom: 25px;
	}


}

.top-header__logo {
	padding-right: 20px;
	flex-grow: 1;

}

.top-header__items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px 30px;

}



.top-header__item {
	display: flex;
	gap: 10px;

}


.time-work {
	font-weight: 700;
	max-width: 225px;
}

.time-work,
.call-box {
	color: white;
	letter-spacing: 0.15px;
	line-height: 1.8;
	font-size: 12px;
}

.call-box {
	font-weight: 500;
}



.time-work__icon {
	flex: 0 0 20px;
	height: 20px;
}

.time-work__icon img {
	max-width: 100%;
	max-height: 20px;
}


.time-work__body {
	display: flex;
	flex-direction: column;
}


.call-box {
	max-width: 152px;
}

.call-box__icon {
	flex: 0 0 18px;
	height: 18px;
	align-items: flex-start;
}

.call-box__icon img {
	max-width: 100%;
	max-height: 18px;
	align-items: flex-start;
}

.top-header__menu {
	background-color: white;
	border-radius: 10px;
	padding: 25px 40px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 15px;
}





.menu__list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 37px;
	flex-grow: 1;
	padding-right: 20px;

}

@media (max-width: 767.98px) {
	.top-header__menu {
		padding: 15px 20px;

	}

	.menu__list {
		gap: 5px 25px;

	}


}





.menu__link {
	letter-spacing: 0.15px;
	line-height: 1.5;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 0px;
}


.elements {
	display: flex;
	gap: 10px 32px;

}


.elements_price {
	position: relative;
}

.elements__price {
	position: absolute;
	top: -10px;
	left: 16px;
	background-color: #f2726f;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.15px;
	font-weight: 500;
	font-size: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	color: #ffffff;
}

/*================================================ main-block===================================== */

.preview {
	position: relative;



}

.preview__container {}

.preview__body {
	max-width: 583px;
	padding: 280px 0px 312px 0px;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

.preview__body>*:not(:last-child) {
	margin-bottom: 48px;

}

.preview__title {
	font-style: normal;
	font-weight: 900;
	color: white;
	font-size: 56px;
}


@media (max-width: 582px) {
	.preview__body {
		padding-top: 370px;
		align-items: center;
		text-align: center;

	}

	.preview__title {
		font-size: 40px;

	}


	.preview__body>*:not(:last-child) {
		margin-bottom: 20px;

	}

}

@media (max-width: 372px) {
	.preview__body {
		padding-top: 400px;

	}

}

.preview__button {
	display: flex;
}

.button {}

.preview__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}